{% extends 'base.html' %}
{% block content %}
<h3 class="page-heading">{{ submission.gradableItem.title }}</h3>
<h3>Submitted by {{ submission.submitter.user.first_name}} {{ submission.submitter.user.last_name }} on {{ submission.date_submitted }}</h3>
{% if submission.file != "" %}
<h4><a href="{{ submission.file }}">{{ submission.file }}</a></h4>
{% endif %}
<p>{{ submission.submission_text }}</p>
<form action="" method="post">
{{ form.as_p }}
<button class="btn btn-default" type="submit">Submit</button>
</form>
{% endblock %}
