{% extends 'base.html' %}
{% block content %}
<h3>Exam submitted by {{ submission.submitter.user.first_name }} {{ submission.submitter.user.last_name }}
on {{ submision.date_submitted }}</h3>
<form action="" method="post">
{% csrf_token %}
<ol>
{% for answer in answers %}
<li><h4>{{ answer.examQuestion.text }}</h4>
<p>Out of {{ answer.examQuestion.max_points }} points</p>
<p>{{ answer.answer }}</p>
<p>Score: <input type="number" name="{{ answer.examQuestion.id }}_score" default="{{ answer.points }}"/></p>
<p>Comment: <input type="text" name="{{ answer.examQuestion.id }}_comment" default="{{ answer.comment }}"/></p>
</li>
{% endfor %}
</ol>
<input type="submit" value="Submit scores">

</form>
{% endblock %}
