{% extends 'base.html' %}
{% block content %}
<h3 class="page-heading">Exam submitted by {{ submission.submitter.user.first_name }} {{ submission.submitter.user.last_name }}
on {{ submision.date_submitted }}</h3>
<form action="" method="post">
<ol>
{% for answer in answers %}
<li><h4>{{ answer.examQuestion.text }}</h4>
<p>Out of {{ answer.examQuestion.max_points }} points</p>
<p>{{ answer.answer }}</p>
<div class="form-group">
    <label for="{{ answer.examQuestion.id }}_score">Score</label>
    <input type="number" id="{{ answer.examQuestion.id }}_score" class="form-control" name="{{ answer.examQuestion.id }}_score" default="{{ answer.points }}"/>
</div>
<div class="form-group">
    <label for="{{ answer.examQuestion.id }}_comment">Comment</label>
    <input type="number" id="{{ answer.examQuestion.id }}_comment" class="form-control" name="{{ answer.examQuestion.id }}_comment" default="{{ answer.points }}"/>
</div>
</li>
{% endfor %}
</ol>
<button class="btn btn-default" type="submit">Submit scores</button>

</form>
{% endblock %}
