{% extends 'base.html' %}
{% block content %}
{% autoescape off %}
<h3 class="page-heading">Exam submitted by {{ submission.submitter.user.first_name|safe }} {{ submission.submitter.user.last_name|safe }}
on {{ submision.date_submitted|safe }}</h3>
<form action="" method="post">
<ol>
{% for answer in answers %}
<li><h4>{{ answer.examQuestion.text|safe }}</h4>
<p>Out of {{ answer.examQuestion.max_points|safe }} points</p>
<p>{{ answer.answer|safe }}</p>
<div class="form-group">
    <label for="{{ answer.examQuestion.id|safe }}_score">Score</label>
    <input type="number" id="{{ answer.examQuestion.id|safe }}_score" class="form-control" name="{{ answer.examQuestion.id|safe }}_score" default="{{ answer.points|safe }}"/>
</div>
<div class="form-group">
    <label for="{{ answer.examQuestion.id|safe }}_comment">Comment</label>
    <input type="text" id="{{ answer.examQuestion.id|safe }}_comment" class="form-control" name="{{ answer.examQuestion.id|safe }}_comment" default="{{ answer.comment|safe }}"/>
</div>
</li>
{% endfor %}
</ol>
<button class="btn btn-default" type="submit">Submit scores</button>

</form>
{% endautoescape %}
{% endblock %}
