{% extends 'base.html' %}

{% block content %}
<table>
<tr>
	<td>Submitter</td>
	<td>Date Submitted</td>
	<td>Total Score</td>
</tr>
{% for submission in submissions %}
<tr>
	<td><a href="grade_examsubmission?submission={{ submission.id }}">
	{{ submission.submitter.user.first_name }} {{ submission.submitter.user.last_name }}</a></td>
	<td><a href="grade_examsubmission?submission={{ submission.id }}">
	{{ submission.date_submitted }}</a></td>
	<td><a href="grade_examsubmission?submission={{ submission.id }}">
	{% if score != "" %}{{ submission.score }}{% else %}-{% endif %}</a></td>
</tr>
</a>
{% endfor %}
{% endblock %}
