{% extends "base.html" %}
{% block menubar %}
{% autoescape on %}
<nav class="navbar navbar-default" style="padding:8px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="nav navbar-nav">
            {% load static %}
            <img src="{% static 'logo-med-lilac.png' %}" alt="Whiteboard">
            </div>
        </div>
    </div>
</nav>
{% endautoescape %}
{% endblock %}

{% block content %}
{% autoescape on %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Permission Denied</h3>
    </div>
    <div class="panel-body">
        <p>That was not a correct username or password.</p>
        <br>
        <p>
            <a href="{% url 'base:login' %}">
                <button class="btn btn-default">
                    Click here to log in again
                </button>
            </a>
        </p>
    </div>
</div>
{% endautoescape %}
{% endblock %}
