{% extends 'base.html' %}

{% block content %}
{% autoescape off %}
{% for announcement in announcements %}
<div class="panel panel-default">
    <div class="panel-heading">
		<h3>{{ announcement.title|safe }}</h3>
	</div>
    <div class="panel-body">
        <h4>{{ announcement.date_posted|safe }} by {{ announcement.poster.first_name|safe }} {{ announcement.poster.last_name|safe }}</h4>
		<p>{{ announcement.content|safe}}</p>
	</div>
</div>
{% endfor %}
<button class="btn btn-default"><a href="create_announcement">Create Announcement</a></button>
{% endautoescape %}
{% endblock %}
