{% extends "base.html" %}
{% block content %}
{% autoescape off %}
{% for event in events %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ event.title|safe }}</h3>
    </div>
    <div class="panel-body">
        <h4>{{ event.date|safe }}</h4>
        <p>{{ event.description|safe }}</p>
    </div>
</div>
{% endfor %}
{% for assignment in gradable_items %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{ assignment.title|safe }}</h3>
    </div>
    <div class="panel-body">
        <h4>Due: {{ assignment.due_date|safe }}</h4>
    </div>
</div>
{% endfor %}
<a href="create_event"><button class="btn btn-default">Create Event</button></a>
{% endblock %}
