{% extends "base.html" %}
{% block content %}
{% for event in events %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ event.title }}</h3>
    </div>
    <div class="panel-body">
        <h4>{{ event.date }}</h4>
        <p>{{ event.description }}</p>
    </div>
</div>
{% endfor %}
{% for assignment in gradable_items %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{ assignment.title }}</h3>
    </div>
    <div class="panel-body">
        <h4>Due: {{ assignment.due_date }}</h4>
    </div>
</div>
{% endfor %}
<a href="create_event"><button class="btn btn-default">Create Event</buton></a>
{% endblock %}
